@charset "utf-8";
/* CSS jion */
.wrapper-join{padding:2.4rem 0 2.4rem 0;width:100%;height:auto;overflow: hidden;}
.wrapper-join .logo{background-color:#3d3b48;}
.wrapper-join .logo img{ width:50%; padding:1rem 0 1rem 10%;}
.swiper-container{ margin:.3rem auto;}
.logo-list{background-color:#fff;}
.logo-list ul li{float:left; width:49.75%; margin:0 0.5% 0.5% 0; height:3rem; background-color:#ececec;}
.logo-list ul .li-r{ margin-right:0;}
.logo-list ul li a{ display:block; text-align:center; line-height:3rem;}
.logo-list ul li a img{ width:80%; vertical-align:middle;}
.logo-list ul li a i{ font-size:1.5rem; color:#d58888; margin-right:.5rem;line-height:3rem;display:inline-block;}
.logo-list .logo-a1{ background-color:#007e83;}
.logo-list .logo-a2{ background-color:#d60051;}
.logo-list .logo-a3{ background-color:#9e8664;}
.logo-list .logo-a4{ background-color:#666165;}
/*join footer css*/
.join-footer{ position:fixed;left:0; bottom:0; z-index:3; width:100%; height:2.4rem;}
.join-footer ul li{float:left; width:50%; background-color:#fff3f6;border-top:1px solid #d58888;}
.join-footer ul li a{ display:block; line-height:2.4rem; color:#a50000;}
.join-footer ul .on{background-color:#a50000;border-top:1px solid #a50000;}
.join-footer ul .on a{color:#fff;}

/*join message css*/
.viewport-join-message{ background-color:#f0f0f0;}
.join-form{margin:0 auto;}
.join-form .join-textarea{ border:1px solid #ccc; height:5rem; margin-bottom:.5rem; box-shadow:inset 1px 1px 1px #ddd;}
.join-form .join-input{ border:1px solid #ccc;margin-bottom:.5rem; box-shadow:inset 1px 1px 1px #ddd;}
.join-textarea textarea,.join-input input{ border:none;outline:none; width:100%; height:100%; background:none; font-size:.75rem;} 
.join-textarea textarea{padding:.5rem;}
.join-input input{line-height:1.5rem; padding:0 .5rem;}
.join-text{margin:1rem auto;}
.join-form-a{margin:0 auto; display:block;}

/*join video css*/
.video{margin:1rem auto;}
.video ul li{ border-bottom:1px solid #ccc;}

/*join information and details css*/
.information,.info-details{margin:1rem auto;}
.information ul li{ width:100%;}
.information ul li a{ display:block; padding:0 .3rem; overflow:hidden; white-space:nowrap;text-overflow: ellipsis;}
.info-details h1{ font-size:1rem; line-height:1.2rem; color:#333; font-weight:bold; margin-bottom:1rem;}
.info-details h4{font-size:.6rem; color:#333; border-bottom:1px solid #ccc; margin-bottom:.8rem; padding-bottom:.8rem;}
.info-details p{font-size:.75rem; color:#333; text-indent:2em; line-height:1.2rem;}

/* CSS join-answer */
.join-answer{margin:0 auto .5rem;}

/* CSS join-brand */
.viewport-join-brand .join-footer ul li{float:left; width:25%; background-color:#fff3f6;border-top:1px solid #d58888;}
.viewport-join-brand .join-footer ul .on{background-color:#a50000;border-top:1px solid #a50000;}
.viewport-join-brand .join-footer ul .on a{color:#fff;}

.jingtu-t{position:relative;background-color:#666165; padding:.5rem 5%; margin-bottom:1rem;}
.jingtu-t span{color:#ffe721;}
.jingtu-t i{position:absolute;left:10%;bottom:-.7rem;width:0;height:0;border-top:.8rem solid #666165;border-right:.8rem solid transparent;}
.jingtu-text{background-color:#ececec;padding:5%; margin:.5rem 0;}
.jingtu-img{margin-bottom:.5rem;}
.jingtu-condition h3{position:relative;background-color:#666165; margin-bottom:.8rem;}
.jingtu-condition h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #666165;border-right:.5rem solid transparent;}
.jingtu-table{border:1px solid #eee;}
.jingtu-table td{border:1px solid #eee;}
.jingtu-td{background-color:#605c5f; padding:.3rem 0}
.jingtu-td-r{padding:.3rem}
.invest-t p{padding:0 3%; margin-bottom:.5rem;}
.invest-t h3{position:relative;background-color:#666165; margin-bottom:.8rem;}
.invest-t h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #666165;border-right:.5rem solid transparent;}
.invest-b{background-color:#807d7f; border:.2rem solid #656161; padding:3%;}
.invest-b tr{ border-bottom:1px solid #efefef;}
.invest-td-l{border-right:1px solid #efefef;}
.invest-b table thead tr{border-bottom:none;}
.invest-b table thead tr td{ background-color:#d3d3d4; padding:.3rem 0;}
.invest-b table thead tr .invest-td-l{border-radius:5px 0 0 5px ;}
.invest-b table thead tr .invest-td-r{border-radius:0 5px 5px 0;}
.invest-b table td{padding:.3rem 0;}

.yicheng-t{position:relative;background-color:#9e8664; padding:.5rem 5%; margin-bottom:1rem;}
.yicheng-t span{color:#ffe721;}
.yicheng-t i{position:absolute;left:10%;bottom:-.7rem;width:0;height:0;border-top:.8rem solid #9e8664;border-right:.8rem solid transparent;}
.yicheng-condition h3{position:relative;background-color:#9e8564; margin-bottom:.8rem;}
.yicheng-condition h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #9e8564;border-right:.5rem solid transparent;}
.yicheng-table{border:1px solid #eee;}
.yicheng-table td{border:1px solid #eee;}
.yicheng-table .jingtu-td{background-color:#9e8564; padding:.3rem 0}
.yc-invest .invest-t h3{position:relative;background-color:#9e8564; margin-bottom:.8rem;}
.yc-invest .invest-t h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #9e8564;border-right:.5rem solid transparent;}
.yc-invest .invest-b{background-color:#ae9a80; border:.2rem solid #ccc3b5; padding:3%;}
.yc-invest .invest-b td{padding:.3rem 0;}

.join-yishang .yicheng-t{position:relative;background-color:#e21663; padding:.5rem 5%; margin-bottom:1rem;}
.join-yishang .yicheng-t i{position:absolute;left:10%;bottom:-.7rem;width:0;height:0;border-top:.8rem solid #e21663;border-right:.8rem solid transparent;}
.yishang-condition h3{position:relative;background-color:#c50e4a; margin-bottom:.8rem;}
.yishang-condition h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #c50e4a;border-right:.5rem solid transparent;}
.yishang-table{border:1px solid #eee;}
.yishang-table td{border:1px solid #eee;}
.yishang-table .jingtu-td{background-color:#c50e4a; padding:.3rem 0}
.ys-invest .invest-t h3{position:relative;background-color:#c50e4a; margin-bottom:.8rem;}
.ys-invest .invest-t h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #c50e4a;border-right:.5rem solid transparent;}
.ys-invest .invest-b{background-color:#d13e6e; border:.2rem solid #c50e4a; padding:3%;}

.join-cc9d .yicheng-t{position:relative;background-color:#007e83; padding:.5rem 5%; margin-bottom:1rem;}
.join-cc9d .yicheng-t i{position:absolute;left:10%;bottom:-.7rem;width:0;height:0;border-top:.8rem solid #007e83;border-right:.8rem solid transparent;}
.img-t-text{background-color:#f9af45; padding:5%;}
.cc9d-condition h3{position:relative;background-color:#007e83; margin-bottom:.8rem;}
.cc9d-condition h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #007e83;border-right:.5rem solid transparent;}
.cc9d-table{border:1px solid #eee;}
.cc9d-table td{border:1px solid #eee;}
.cc9d-table .jingtu-td{background-color:#007e83; padding:.3rem 0}
.cc-invest .invest-t h3{position:relative;background-color:#007e83; margin-bottom:.8rem;}
.cc-invest .invest-t h3 i{position:absolute;left:10%;bottom:-.4rem;width:0;height:0;border-top:.5rem solid #007e83;border-right:.5rem solid transparent;}
.cc-invest .invest-b{background-color:#026a6e; border:.2rem solid #025258; padding:3%;}