@charset "utf-8";
/* CSS Document */
/*details css*/
.order-details-wrapper{margin:2.4rem 0 2rem;}
.details{ width:100%; height:auto; overflow:hidden;}
.details-t{border-bottom:1px solid #eee; padding:.5rem 1rem; background-color:white; height:auto; overflow:hidden;}
.details-t .l{float:left;width:1.2rem;height:1.2rem;border-radius:100%;}
.details-t .l i{text-align:center;font-size:1.2rem;display: block;color:#dc1c49;}
.details-t .r{float:right;margin-left:.5rem; width:14rem;}
.details-t .r h2{font:bold .8rem/1.2rem "Microsoft YaHei";color:#000; margin-bottom:.5rem;}
.details-t .r p{font:.75rem/1.2rem "Microsoft YaHei";color:#000;}

.details-t .t{ width:50%; margin:1rem auto 0; height:auto; overflow:hidden;}
.details-t .t p{display:block;float:left;width:1.5rem;height:1.5rem;}
.details-t .t p i{color:#dc1c49;text-align:center;font-size:1.5rem;display: block;}
.details-t .t h2{float:left;font:bold 1rem/1.5rem "Microsoft YaHei";color:#000; margin-left:.5rem;}
.details-t .b{width:80%; height:auto; overflow:hidden; margin:1.5rem auto;}
.details-t .b ul li{ float:left; width:48%; height:1.5rem; border-radius:5px; border:1px solid #ccc;}
.details-t .b ul li a{ text-align:center; text-decoration:none; color:#999; display:block;font:.75rem/1.5rem "Microsoft YaHei";}
.details-t .b ul .li-on{ margin-left:4%; background-color:#fd9900;border:1px solid #fd9900;}
.details-t .b ul .li-on a{color:white;}

.details-c{position:relative; margin-bottom:.5rem; background-color:white; padding:.5rem;}
.dc-t,.dc-b{ height:auto; overflow:hidden;}
.dc-t li{float:left;width:25%;}
.dc-t li i{font-size:3rem; color:#ccc; text-align:center; display:block;}
.dc-t li .add-c{font-size:2.85rem;margin-bottom:.15rem;}
.dc-t li p{font:.75rem/1.2rem "Microsoft YaHei"; text-align:center;}

.details-c em{position:absolute; display:block; width:1rem; height:.2rem; background-color:#ccc; top:2rem;}
.details-c em.l{left:4.3rem;}
.details-c em.c{left:8.5rem;}
.details-c em.r{left:12.7rem;}

.details-c .dc-t li .t{color:#dc1c49;}
.details-c1 .dc-t li .c1{color:#dc1c49;}
.details-c1 .dc-t li .c{color:#dc1c49;}
.details-c1 em.l{background-color:#dc1c49;}

.details-c2 .dc-t li .c2{color:#dc1c49;}
.details-c2 em.c{background-color:#dc1c49;}

.details-c3 .dc-t li .b{color:#dc1c49;}
.details-c3 em.r{background-color:#dc1c49;}

.details-b{background-color:white;border-bottom:1px solid #ccc; padding:0 1rem 1rem;}
.details-b h3{font:bold .8rem/2.5rem "Microsoft YaHei";color:#000; border-bottom:1px solid #eee; margin-bottom:.5rem;}
.details-b h3 i{float:right; font-weight:normal;font-size:1.3rem;color:#ccc;}
.details-b p{font:.75rem/1.5rem "Microsoft YaHei";color:#666; height:auto; overflow:hidden;}
.details-b p .span-l{float:left;}
.details-b p .span-r{float:right;}
.details-b p .span-r em{ margin-right:1rem;}

.order-details-footer{ position:fixed; left:0; bottom:0; background-color:#fe9900;}
.order-details-footer a{ display:block;}
